<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Jc Gráfica</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'login' %}">JC gráfica</a>
                <a class="navbar-brand text-white" href="{% url 'logout' %}">Sair</a></div>
            </div>
        </nav>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid mt-5">          
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {{ lista|length }} Pedidos
            </div>
            <div class="table-responsive">
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Produto</th>
                            <th>Tamanho</th>
                            <th>Quantidade</th>
                            <th>Imagem</th>
                            <th>Entrega</th>
                            <th>Status</th>
                            <th>Validar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if lista|length > 0 %}
                            {% for i in lista %}
                                <tr>
                                    <td>{{ i.nome }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.produto }}</td>
                                    <td>{{ i.tamanho }}</td>
                                    <td>{{ i.quantidade }}</td>
                                    <td>{{ i.foto }}</td>
                                    <td>{{ i.entrega }}</td>
                                    <td>{{ i.status }}</td>
                                    <td>
                                        <a class="p-3" href="statuspedido/{{ i.id }}"><i class="bi bi-pencil-square text-primary"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td>
                                <td colspan="3" class="text-center">Sem pedidos</td>
                            </td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
