<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Jc Gráfica</title>
        <style>.bg-green{
            background-color: #5FB;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-success container-fluid">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'login' %}">JC gráfica</a>
                <a class="navbar-brand text-white" href="{% url 'cadastro' %}">Cadastro</a></div>
            </div>
        </nav>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
<div class="p-5 text-center">
    <header class="container">
        <h1>Bem-vindo à JC Gráfica</h1>
        <p>Impressões de Qualidade que Excedem Expectativas</p>
    </header>
</div>
<div class="row p-5 bg-green">
    <div class="col-sm-6">
        <div class="container">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success mt-3">Entrar</button>
                <a class="nav-link active text-success" href="{% url 'cadastro' %}">Não tem cadastro? <b>Clique aqui</b></a>
            </form>
        </div>
    </div>
        <div class="col-md-6"> 
            <div class="row">
                <!-- Card 1-->
                <div class="col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Impressão (Preto e Branco)</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 1,00</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Card 2 -->
                <div class="col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Impressão (Colorido)</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 2,00</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Card 3 -->
                <div class="col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Impressão (Papel Foto)</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$ 3,00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Card 4 -->
                <div class="col-sm-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Impressão (Papel Adesivo)</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 4,00</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>