<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Jc Gráfica</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'login' %}">JC gráfica</a>
                <a class="navbar-brand text-white" href="{% url 'dashboard' %}">Voltar</a></div>
            </div>
        </nav>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
        <div class="container mt-5">
            <form action="" method="POST">
            <div class="row">
                    {% csrf_token %}
                    <div class="col-10">
                        <select class="form-select" aria-label="produto" name="produto">
                            <option selected>- Escolha a impressão</option>
                            <option value="Impressão preto e branco">Impressão preto e branco</option>
                            <option value="Impressão colorida">Impressão colorida</option>
                            <option value="Impressão colorida">Impressão em papel fotográfico</option>
                            <option value="Impressão em papel adesivo">Impressão em papel adesivo</option>
                          </select>
                    </div>
                        <div class="col-2">
                            <input type="number" class="form-control" placeholder="Quantidade" name="quantidade" aria-label="quantidade">
                        </div>
                    </div>
                        <div class="pt-2">
                            <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white" value="Salvar"/>
                            <a href="{% url 'dashboard' %}"><input class="d-none d-sm-inline-block btn text-primary" value="Voltar"/></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>    
    </body>
</html>