<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Jc Gráfica</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'login' %}">JC gráfica</a>
                <a class="navbar-brand text-white" href="{% url 'dashboard' %}">Voltar</a></div>
            </div>
        </nav>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
        <div class="container mt-5">
            <form action="{% url 'novo' %}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-5">
                        <select class="form-select" aria-label="produto" name="produto">
                            <option selected>- Escolha o tipo impressão</option>
                            <option value="Impressão preto e branco">Impressão preto e branco</option>
                            <option value="Impressão colorida">Impressão colorida</option>
                            <option value="Impressão em papel fotográfico">Impressão em papel fotográfico</option>
                            <option value="Impressão em papel adesivo">Impressão em papel adesivo</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select" aria-label="tamanho" name="tamanho">
                            <option selected>- Escolha o tamanho da impressão da imagem</option>
                            <option value="Folha A4 completa">Folha A4 completa</option>
                            <option value="15x21 cm">15 x 21 cm</option>
                            <option value="10x15 cm">10 x 15 cm</option>
                            <option value="10x15 cm">10 x 10 cm</option>
                            <option value="10x15 cm">8 x 8 cm</option>
                            <option value="10x15 cm">6,5 x 6,5 cm</option>
                            <option value="10x15 cm">5 x 5 cm</option>
                            <option value="10x15 cm">4 x 4 cm</option>
                            <option value="10x15 cm">3 x 4 cm</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input id="nome" class="hide" name="nome" value="{{user.username}}">
                        <input id="email" class="hide" name="email" value="{{user.email}}">
                        <input id="status" class="hide" name="status" value="Análise"/>
                        <input type="number" class="form-control" placeholder="Quantidade" name="quantidade" aria-label="quantidade">
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" id="entrega" name="entrega" placeholder="informe o prazo da impressão" />
                    </div>
                </div>
                <label for="foto">Envie a imagem que deseja imprimir:</label>
                <input class="form-control" type="file" id="foto" name="foto" accept="media/media/*">
                <div class="pt-2">
                    <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white" value="Salvar"/>
                    <a href="{% url 'dashboard' %}"><input class="d-none d-sm-inline-block btn text-primary" value="Voltar"/></a>
                </div>
            </form>
        </div>    
<script>
$(document).ready(function(){
$(".hide").hide();
});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>